<app-navbar></app-navbar>
<div class="d-flex justify-content-center align-items-center" style="height:100vh">
  <div class="contain-fluid">
    <div class="row">
      <div class="col-md-4">
        <img [src]="product.picture" alt="Profile Picture" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h1 class="text-white">{{product.username}}</h1>
        <hr>
        <ul class="list-unstyled">
          <li class="text-white" id="nombre"><h5 class="titles">Nombre:</h5>{{product.name}}</li>
          <li class="text-white with-margin-top" id="apellido"><h5 class="titles">Apellido:</h5>{{product.surname}}</li>
          <li class="text-white with-margin-top" id="genero"><h5 class="titles">Género:</h5> {{product.gender}}</li>
          <li class="text-white with-margin-top"><h5 class="titles">Dirección:</h5> {{product.address}}</li>
          <li class="text-white with-margin-top"><h5 class="titles">País:</h5> España</li>
          <li class="text-white with-margin-top"><h5 class="titles">Presentación:</h5> {{product.description}}</li>
          <li class="text-white with-margin-top"><h5 class="titles">Correo Electrónico:</h5> {{product.mail}}</li>
          <li class="with-margin-top"><button type="button" class="btn btn-secondary float-right">Editar Perfil</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

