<app-navbar></app-navbar>
<div class="contain mt-5">
        <div class="row p-5">
            <div class="col-lg-2" *ngIf="getMovieDetailResult.poster_path">
                    <img
                    src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.poster_path }}"
                    >
            </div>
            <div class="col-lg-10 mt-5 p-4">

                    <div class="mt-4 p-4">
                        <h2 class="text-white">Top Cast</h2>
                        <div class="row">
                        <div class="col-lg-4" *ngFor="let c of getMovieCastResult">
                            <div class="row mt-2 mb-2">


                            </div>

                            </div>

                        </div>
                    </div>
            </div>
        </div>
</div>
